name: build
on:
  push:
    paths-ignore:
      - "docs/**"
      - "charts/**"
      - "images/**"
      - "**.md"
  # manual trigger
  workflow_dispatch: { }
env:
  RUST_LOG: "debug"
  RUST_LOG_SPAN_EVENTS: "new,close"
  RUST_BACKTRACE: "1"
jobs:
  lint_fmt:
    name: Lint / Code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt, clippy
      - name: cargo fmt --check
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --check
      - name: clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --workspace --all-targets -- -D warnings

  # lint_deps:
  #   name: Lint / Dependencies
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v6
  #     - uses: actions-rust-lang/setup-rust-toolchain@v1
  #       with:
  #         toolchain: nightly
  #     - uses: taiki-e/install-action@v2
  #       with:
  #         tool: cargo-deny,cargo-udeps
  #     - run: cargo deny check --hide-inclusion-graph
  #     - run: cargo +nightly udeps --all-targets

  test_linux:
    name: Test / Linux
    runs-on: ubuntu-latest
    env:
      CARGO_FLAGS: -p setty --all-features
      NEXTEST_FLAGS: -p setty --all-features
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest
      - name: Build
        run: cargo test --no-run ${{ env.CARGO_FLAGS }}
      - name: Run main set of tests
        run: cargo nextest run ${{ env.NEXTEST_FLAGS }}
      - name: Check git diff
        run: git diff && git diff-index --quiet HEAD
